@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-blue: #1a6bff;
	--color-blue-light: #7daee6;
	--color-purple: #9b5de5;
	--color-pink: #ff5e9f;
	--color-red: #e63946;
	--color-orange: #ff8552;
	--color-yellow: #f4d03f;
	--color-yellow-light: #f3e246;
	--color-green: #26a17b;
	--color-green-light: #5cb890;
	--color-green-dark: #1e7e54;
	--color-teal: #1595a8;
	--color-cyan: #4db6ac;
	--color-white: #fff;
	--color-transparent-grey: rgba(200, 200, 200, 0.5);
	--color-grey: #5a6268;
	--color-grey-dark: #2c3338;
	--color-cobalt-hover: #0d59c7;
	--color-cobalt: #0047ab;
	--color-light: #f0f3f6;
	--color-dark: #21252b;
	--color-abyss: #000712;
	--color-cobalt-light: #3376cc;
	--color-pastel-green: rgb(104, 240, 133);
	--color-pastel-yellow: rgb(253, 251, 147);
	--color-pastel-red: rgb(247, 119, 119);
	--color-beige: rgb(248, 247, 240);
	--font-inter: var(--font-inter);
	--font-source: var(--font-source);
}


html {
	scroll-behavior: smooth;
	user-select: text;
}

img {
	user-select: none;
}

body {
	font-family: 'Inter', sans-serif;
}

p {
	font-family: 'Source Serif 4', serif;
	@apply text-lg text-grey;
}

