@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-blue: #1485ff;
	--color-blue-light: #8eb8e6;
	--color-purple: #b65bf3;
	--color-pink: #e83e8c;
	--color-red: #d41629;
	--color-orange: #fd7d15;
	--color-yellow: #eec44f;
	--color-yellow-light: #f3e246;
	--color-green: #28a745;
	--color-green-light: #66e686;
	--color-green-dark: #0f8b2c;
	--color-teal: #20c997;
	--color-cyan: #3ec2eb;
	--color-white: #fff;
	--color-transparent-grey: rgba(184, 184, 184, 0.5);
	--color-grey: #6c757d;
	--color-grey-dark: #343a40;
	--color-cobalt-hover: #1274ff;
	--color-cobalt: #0047ab;
	--color-light: #f8f9fa;
	--color-dark: #282c31;
	--color-abyss: #000712;
	--color-cobalt-light: #4592ff;
	--color-pastel-green: rgb(104, 240, 133);
	--color-pastel-yellow: rgb(253, 251, 147);
	--color-pastel-red: rgb(247, 119, 119);
	--color-beige: rgb(248, 247, 240);
	--font-inter: var(--font-inter);
	--font-source: var(--font-source);
}


html {
	scroll-behavior: smooth;
	user-select: text;
}

img {
	user-select: none;
}

body {
	font-family: 'Inter', sans-serif;
}

p {
	font-family: 'Source Serif 4', serif;
	@apply text-lg text-grey;
}
